html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    background-color: black;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: helvetica;
    text-align: center;
}

.above-the-fold {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    position: relative; /* Needed for absolute positioning of the CTA */
}

.above-the-fold img {
  max-width: 50%;
}

.content {
  max-width: 90%;
}

.content > * {
    margin-bottom: 48px;
}

.innerContent > * {
    margin-bottom: 48px;
}

.innerContent img, .content img {
    height: auto; /* Maintains the aspect ratio of the images */
    max-width: 90%;
    max-height: 50vh; /* Limits the image height to 50% of the viewport height */
}

@media (max-width: 600px) {
  body {
      max-width: 100%;
      font-size: 24px;
  }
  .content {
    max-width: 90%;
    word-wrap: break-word;
  }

  .above-the-fold img {
    max-width: 70%;
    margin-bottom: 20%;
  }

    .innerContent img, .content img {
        max-width: 80%;
    }
    .centered-gif img {
        margin-top: 20%; /* Reduces the margin to better fit mobile screens */
    }
    .content > *, .innerContent > * {
        margin-bottom: 96px; /* Reduces spacing for a tighter layout */
    }
    .content div, .innerContent div {
    }
}
