html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
html::-webkit-scrollbar {
  display: none;
}

body {
  margin: auto;
  max-width: 90%;
  background-color: black;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: helvetica;
  text-align: center;
}

.above-the-fold {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.above-the-fold img {
  width: 500px;
}

.content {
  max-width: 90%;
}

.content > * {
  margin-bottom: 48px;
}

.header {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.header img {
  max-height: 100px;
}

.content img {
  height: auto; /* Maintains the aspect ratio of the images */
  max-width: 60%;
}

.sectionContent {
  text-align: left;
  width: 600px;
  margin: auto;
}

.NYTmobile {
  display: none;
}

.commentsmobile {
  display: none;
}

.footerImg {
  width: 72px;
  margin-top: 96px;
}

@media (max-width: 600px) {

  body {
    max-width: 90%;
    font-size: 16px;
  }

  .above-the-fold img {
    max-width: 90%;
    margin-bottom: 20%;
  }

  .centered-gif img {
    margin-top: 20%;
  }

  .header {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .sectionContent {
    width: 100%;
    font-size: 16px;
  }

  .content {
    max-width: 90%;
    word-wrap: break-word;
  }

  .content > * {
    margin-bottom: 32px;
  }

  .content img {
    max-width: 100%;
  }

  .NYTmobile {
    display: flex;
  }

  .commentsmobile {
    display: flex;
  }

  .NYT {
    display: none;
  }

  .comments {
    display: none;
  }

  .footerImg {
    margin-bottom: 32px;
  }
}
